thank for informing abhout new phone policy at work place. But unforchanly i can not  accept this change. if we can desscue about these new policy which good. because as muy perivuse exprence ahave face soo many resictric on me throught varbale or hr for many activity like this action is not good because you doing these in paostive manner but other taking thes in miss user or negative point. so please facuse them and told them septreate to  used properly phone., 



8. about leave : try to make confrin if leave request reaside by the employ it approved/disapproved  with in one to 2 days max.
9.  Data Security : please proved us back up disk daily for storing important data daily in the evening. and do not reset/update employ's system without their and theri manager's concen ; 
15. Availability During Project Completion or Delivery: make sure it has goods for employ 
19. Overtime Work:  we will see how this goes.
20. Holiday and Leave: that is just for not giving leave for employ.




SELECT * FROM `protery_histories` WHERE `scheme_id` = 25 AND `property_id` = 2115 AND `action` LIKE 'waiting list remove after 24 hours' AND `created_at` between '2024-09-12 01:04:27' AND '2024-09-24 05:45:00' ORDER BY `id` DESC;




<div class="cp">
    <nav>
        <ol class="breadcrumbed">
          <li class="breadcrumb-item"><a href="{{route('index')}}">Home</a></li>
          <li class="breadcrumb-item"><a href ="{{url(strtolower($airport->airportslug))}}">{{$airport->airportslug}} Parking</a></li>
          <li class="breadcrumb-item active">{{$parking_list->pname}}</li>
        </ol>
     </nav>
</div><!-- End Page Title -->